target/
lib_managed/
src_managed/
project/boot/
.classpath
.ensime*
ensime_port
.externalToolBuilders
.project
.settings
.scala_dependencies
project/plugins/project/build.properties

/cloudbees.credentials
/.target/